/*INITIAL PICTURE CSS*/
.lander {
	position: absolute;
	width: 100%;
	top: 74px;
}
/*DEFINES MAIN WELCOME PARAGRAPH*/
	.content {
		background-image: url("../Images/background.png");
		background-size: 900px 450px;
		background-repeat: no-repeat;
		height: 550px;
		padding: 20px;
	}
		.inner_content {
			background-color: rgba(0, 0, 0, .25);
		}
			.inner_content p {
				margin-bottom: 20px;
				color: white;
				font-size: 1.7em;
			}
			.quote {
				display: block;
				margin: 0 auto;
				width: 80%;
				font-size: .95em;
			}
			.indent {
				padding-left: 80px;
			}
/* MOBILE ACCORDION CSS*/
.accordion {
	margin-bottom: 198px;
}
	.accord_label {
		background-color: rgba(200, 200, 190, 1);
		background-size: 100% 100%;
		text-align: center;
		color: rgba(81, 53, 24, 1);
		border-bottom: 4px solid rgba(81, 53, 24, 1);
	}
		.accord_label i {
			vertical-align: middle;
			font-size: 4em;
			float: left;
			-webkit-transition-duration: 300ms;
			-moz-transition-duration: 300ms;
			-o-transition-duration: 300ms;
			transition-duration: 300ms;
		}
			/*TO BE ADDED TO ICON ON CLICK */
			.turn {
				-webkit-transition-duration: 300ms;
				-moz-transition-duration: 300ms;
				-o-transition-duration: 300ms;
				transition-duration: 300ms;
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		.accord_label h1 {
			display: inline-block;
			font-size: 4em;
		}
	.accord_content {
		display: none;
		background-color: rgba(81, 53, 24, 1);
		box-sizing: border-box;
		padding: 30px;
	}
		.accord_content p {
			color: white;
			font-size: 1em;
		}
		.accord_content h1 {
			font-size: 5em;
			color: rgba(225, 49, 0, 1);
		}
		.accord_content img {
			display: block;
			margin: 0px auto;
		}
.desktop {
	position: relative;
	bottom: 150px;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	padding: 20px 30px;
	vertical-align: top;
	border: none;
	display: block;
	margin: 20px auto;
	background-color: rgba(81, 53, 24, 1);
}
	.desktop:hover {
		background-color: rgba(225, 49, 0, 1);
	}
/*PRICING STYLE*/
.price_table {
	margin: 0px auto;
	width: 80%;
	margin-bottom: 15px;
}
	.price_table * {
		font-family: 'Normal';
		color: white;
		font-size: 1.3em;
	}
	.accord1 h3 {
		font-family: 'Normal';
		font-size: 3em;
		text-align: center;
		color: rgba(225, 49, 0, 1);
		margin: 20px auto;
	}
/*STYLIST STYLE*/
.accord2 h3 {
	font-size: 2em;
	color: white;
	font-family: "Heading";
	text-align: center;
}
.stylist_table {
	width: 90%;
	color: white;
	padding: 20px;
	font-size: 1.5em;
	margin: 20px auto;
}
	.stylist_table a {
		color: rgba(225, 49, 0, 1);
		font-family: "Heading";
		font-size: 1.5em;
	}
	.stylist_table td:first-child {
		border-bottom: 2px inset white;
	}
	.stylist_table td:last-child {
		padding-left: 10px;
	}
/*SCHEDULING STYLE*/
.accord3 h3 {
	font-family: 'Normal';
	font-size: 2em;
	color: white;
	margin-bottom: 30px;
}
	.accord3 h2 {
		font-size: 4em;
		color: rgba(225, 49, 0, 1);
		margin-bottom: 20px;
	}	
	.address {
		padding-left: 40px;
	}
	.hours_table * {
		color: white;
		font-size: 1.2em;
		font-family: 'Normal';
	}
	.hours_table {
		margin-bottom: 30px;
	}
/*PRODUCTS STYLE*/
	.accord4 .product {
		display: inline-block;
	}
	.accord4 .product_header {
		color: rgba(225, 49, 0, 1);
		text-align: center;
		font-size: 3em;
	}
	.accord4 .product p {
		font-size: .9em;
		color: white;
		margin-bottom: 10px;
		padding-left: 20px;
	}
	.accord4 .product h2 {
		font-size: 2em;
		color: white;
	}
	.accord4 .product .column {
		display: inline-block;
		width: 49%;
		vertical-align: top;
	}
	.accord4 .product .column p {
		font-size: 1.9em;
	}
/*POLICIES STYLE*/
.accord5 p {
	font-size: 1.3em;
	color: white;
	margin-bottom: 20px;
}
	.policy_title {
		font-family: "Heading";
		font-size: 1.5em;
		color: rgba(225, 49, 0, 1);
	}
/*MEDIA RULES*/
/*DESKTOP RULES*/
@media screen and (max-width: 1100px) {
	.lander {
		position: absolute;
		width: 100%;
		top: 104px;
	}
	.content {
		background-size: 100% 100%;
		border-bottom: 4px solid rgba(225, 49, 0, 1);
	}		
	.inner_content {
		font-size: 1.5vw!important;
	}
}
/*MOBILE RULES*/
@media screen and (min-width: 1100px) {
	.lander {
		position: absolute;
		width: 55%;
		left: 22%;
	}
	.content {
		background-size: 100% 100%;
	}
}
