* {
	padding: 0px;
	margin: 0px;
}
@font-face {
	font-family: Curly;
	src: url("AlexBrush-Regular-OTF.otf") format("opentype");
}
@font-face {
	font-family: Normal;
	src: url("JosefinSlab-Regular.ttf") format("truetype");
}
h1, h2, h3, h4, h5 {
	font-family: 'Curly';
	font-weight: lighter;
}
p, a {
	font-family: "Normal";
}
li {
	font-family: 'Curly';
}
a {
	text-decoration: none;
}
body {
	background-color: white;
	height: 100%;
}
.main_container {
	margin-top: 3%;
	margin: 0 auto;
}
.image_container img {
	width: 100%;
}
.link1, .link2 {
	margin-top: -24.7%;
	position: absolute;	
	color: rgba(62, 42, 19, 1);
}
.footer {
	color: white;
	background-color: rgba(225, 49, 0, 1);
	width: 60%;
	height: 40px;
	margin: 0 auto;
	padding-top: 1.2%;
	padding-bottom: .6%;
	text-align:center;
}
.footer ul {
	display: block;
	vertical-align: middle;
}
.footer li {
	display: inline-block;
	margin: 0 .5%;
	vertical-align: middle;
	font-size: 1.4em;
}
.footer li img {
	width: 60%;
}
@media screen and (min-width: 900px) {
	.main_container {
		width: 60%;
		background-image: url("../Images/index_pic.png");
		background-size: contain;
		background-repeat: no-repeat;
		height: 0;
		padding-top: 46.5%;
	}
	.image_container {
		margin: 5px auto;
		width: 60%;
	}
	.link1 {
		left: 25%;
	}
	.link2 {
		right: 23%;
	}
	.link1, .link2 {
		-webkit-transition-duration: 400ms;
		-moz-transition-duration: 400ms;	
		font-size: 2em;
	}
	.link1:hover {
		-webkit-transition-duration: 400ms;
		-moz-transition-duration: 400ms;
		font-size: 2.2em;
	}
	.link2:hover {
		-webkit-transition-duration: 400ms;
		-moz-transition-duration: 400ms;
		font-size: 2.2em;	
	} 
}
@media screen and (max-width: 1250px) {
	.link1, .link2 {
		-webkit-transition-duration: 400ms;
		-moz-transition-duration: 400ms;
		font-size: 1.7em;
	}
	.link1:hover {
		-webkit-transition-duration: 400ms;
		-moz-transition-duration: 400ms;
		font-size: 1.9em;
	}
	.link2:hover {
		-webkit-transition-duration: 400ms;
		-moz-transition-duration: 400ms;
		font-size: 1.9em;	
	} 
}
@media screen and (max-width: 1100px) {
	.link1, .link2 {
		-webkit-transition-duration: 400ms;
		-moz-transition-duration: 400ms;
		font-size: 1.4em;
	}
	.link1:hover {
		-webkit-transition-duration: 400ms;
		-moz-transition-duration: 400ms;
		font-size: 1.6em;
	}
	.link2:hover {
		-webkit-transition-duration: 400ms;
		-moz-transition-duration: 400ms;
		font-size: 1.6em;	
	} 
}
@media screen and (max-width: 900px) {
	.link1, .link2 {
		margin-top: -43%;
		-webkit-transition-duration: 400ms;
		-moz-transition-duration: 400ms;
		font-size: 1.5em;
	}
	.link1 {
		left: 9%;
	}
	.link2 {
		right: 4%;
	}
	.link1:hover {
		-webkit-transition-duration: 400ms;
		-moz-transition-duration: 400ms;
		font-size: 1.7em;
	}
	.link2:hover {
		-webkit-transition-duration: 400ms;
		-moz-transition-duration: 400ms;
		font-size: 1.7em;	
	} 
	.main_container {
		width: 100%;
		background-image: url("../Images/index_pic.png");
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 81.5%;
	}
	.image_container {
		width: 100%;
	}
	.footer {
		width: 100%!important;
	}
}
