.content {
	background-image: url("../Images/other_content.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 20px;
}
.inner_content {
	display: inline-block;
}
	.inner_content p {
		font-size: 1.3em;
		color: white;
		margin-bottom: 20px;
	}
	.policy_title {
		color: rgba(225, 49, 0, 1);
	}

.active {
	color: grey!important;
}
