<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="Winslow Salon" description="A boutique salon west of market street.">
	<title>Winslow Salon</title>
	<link rel="stylesheet" type="text/css" href="../Static/Stylesheets/policies_style.css">
	<link rel="stylesheet" type="text/css" href="../Static/Stylesheets/global_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<!--HEADER BAR-->
<div class="header">
	<div class="inner_container">
		<img id="header_image" src="../Static/Images/Logo.png" alt="logo">
		<h3>...a boutique salon west of market street.</h3>
	</div>
</div>
<!--INNER CONTENT-->
<div class="inner_container main_container">
	<!-- <img id="picture_header" src="../Static/Images/full_header.png" alt="pictures"> -->
	<div class="content">
		<div id="sidebar" class="hide_on_mobile">
			<a href="./services.html"><h3>Services</h3></a>
			<a href="./stylists.html"><h3>Stylists</h3></a>
			<a href="./scheduling.html"><h3>Scheduling</h3></a>
			<a href="./products.html"><h3 class="active">Products</h3></a>
			<a href="./policies.html"><h3>Policies</h3></a>
			<a href="http://www.facebook.com/pages/Winslow-Salon/110554585635590"><h3><i class="fa fa-facebook-official fa-2x"></i></h3></a>
			<a href="http://www.facebook.com/pages/Winslow-Salon/110554585635590"><h3><i class="fa fa-twitter fa-2x"></i></h3></a>
		</div>
		<div class="inner_content">
			<p><span class="policy_title">Return policy - </span>Winslow Salon guarantees the satisfaction of all products. Should a product not meet your expectations, we will exchange that product for another of equal value. No refunds will be given.</p>
			<p><span class="policy_title">Cancellation Policy - </span>Please cancel or reschedule your appointment 48 hours prior to your scheduled service to avoid a 50% charge of total service price. A credit card may be required to reserve your appointment.</p>
			<p><span class="policy_title">Satisfaction Policy - </span>Winslow Salon guarantees your satisfaction for 14 days after your date of service (excluding lash extensions). If you are unsatisfied with the results, Winslow would like to take the opportunity to see you for a complimentary correction appointment. There will be no refunds.</p>
		</div>
	</div>
	<img class="lower_image" src="../Static/Images/products_images.png">
</div>
<!--FOOTER BAR-->
<div class="footer">
	<ul>
		<li>609 Market St.</li>
		<li><img src="../Static/Images/bullet.png" alt="bullet"></li>
		<li>Kirkland, WA</li>
		<li><img src="../Static/Images/bullet.png" alt="bullet"></li>
		<li>425-629-3686</li>
	</ul>
</div>
</body>
</html>