<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="Winslow Salon" description="A boutique salon west of market street.">
	<title>Winslow Salon</title>
	<link rel="stylesheet" type="text/css" href="../Static/Stylesheets/products_style.css">
	<link rel="stylesheet" type="text/css" href="../Static/Stylesheets/global_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<!--HEADER BAR-->
<div class="header">
	<div class="inner_container">
		<img id="header_image" src="../Static/Images/Logo.png" alt="logo">
		<h3>...a boutique salon west of market street.</h3>
	</div>
</div>
<!--INNER CONTENT-->
<div class="inner_container main_container">
	<!-- <img id="picture_header" src="../Static/Images/full_header.png" alt="pictures"> -->
	<div class="content">
		<div id="sidebar" class="hide_on_mobile">
			<a href="./services.html"><h3>Services</h3></a>
			<a href="./stylists.html"><h3>Stylists</h3></a>
			<a href="./scheduling.html"><h3>Scheduling</h3></a>
			<a href="./products.html"><h3 class="active">Products</h3></a>
			<a href="./policies.html"><h3>Policies</h3></a>
			<a href="http://www.facebook.com/pages/Winslow-Salon/110554585635590"><h3><i class="fa fa-facebook-official fa-2x"></i></h3></a>
			<a href="http://www.facebook.com/pages/Winslow-Salon/110554585635590"><h3><i class="fa fa-twitter fa-2x"></i></h3></a>
		</div>
		<div class="inner_content">
			<div class="product">
				<h1 class="product_header">Voluspa</h1>
				<p>To burn a Voluspa candle is to be introduced to a world of excellence in fragrance and candle light that delights the senses and adds luxe to everyday living.</p>
				<p>Fueled by a love for art, fragrance and elegant illumination, Troy and Traci Arntsen created their first scented candle in their kitchen in 1999. Combining Traci's expert nose and knowledge of botany with Troy's engineering technical background, the duo is credited with developing clean burning and potently fragrant candles renowned in the industry. Voluspa's creamy Cocunut wax blend enhances fragrance throw, burns ultra clean, and delights consumers world wide.</p>
				<p>Finding their niche by creating striking packaging and extraordinary scents, Voluspa home fragrance products are found in prestigious retailers around the world and have become a staple in the homes of Hollywood's elite. Regularly featured in editorial articles written for beauty, fashion and home magazines, Voluspa has become a household name.</p>
			</div>
			<div class="product">
				<h1 class="product_header">Oribe</h1>
				<h2>The Brand Story</h2>
				<p>Oribe Hair Care was founded by renowned editorial and celebrity hairstylist Oribe and beauty industry veterans Daniel Kaner and Tev Finger with the goal of creating a new kind of hair company, one that was designed with the most talented salon professionals and the most discriminating customers in mind. When developing the line, we didn’t want to compromise on any detail. We leveraged skin care technology and natural actives to deliver high-performance, treatment-based products—all while never forgetting that healthy hair is the underpinning for sexy, glamorous styling. Each product has been tested at length on set, backstage and in the salon to ensure that it delivers results, leaving us with a best-in-class collection that truly meets the needs of the hair-obsessed.</p>
				<h2>The Fragrance</h2>
				<p>Oribe’s signature scent, Cote d’Azur, runs through the line at the lightest levels, designed so that the products in each individual’s hair ritual work together…and build upon each other. Developed in collaboration with one of the oldest French fragrance houses, tracing its roots back to the 1800s, Cote d’Azur was conceived to be beautiful and bright yet calming and composed—the perfect morning wake-up call, afternoon pick-me-up and evening mood-setter. The signature scent awakens with hints of citrus-soaked Italian bergamot, pink lemons, white peach, cassis and muguet, balanced with Aomori apples and leafy greens. Cedarwood, white amber and musk lend their soft woody notes, while Cuba’s national flower, la mariposa blanca, creates a sensual and invigorating experience throughout the day.</p>
				<h2>The Packaging</h2>
				<p>They say you shouldn’t judge a book by its cover…in our case, feel free. For us, packaging is an immediate sign of what the consumer can expect from our brand: something elevated, sophisticated and fun. Oribe Hair Care’s award-winning packaging was designed to make the experience of using the products as beautiful as the formulas themselves. Every detail was carefully crafted and nuanced, from the shape of each bottle to the eco-friendly boxes sourced from well-managed forests and printed with vegetable inks. The architectural facets and striking jewel tones perfectly blend old-world heritage with modern elegance. Our packaging has established a new standard for hair care. Oribe products are truly a modern-day bathroom accessory.</p>
			</div>
			<div class="product">
				<h1 class="product_header">R+Co</h1>
				<div class="column">
				<p>R+Co is a collective of some of the most forward-thinking, rule-bending hairstylists in the business. We are a think tank of top editorial and salon stylists and educators—with a combined century of hairdressing knowledge and experience—and we make sure that we have more than one viewpoint on everything we do. Stylists are the real heroes of this brand. In an industry not always known for collaboration, R+Co is all about creating a dialogue between the broader stylist community to celebrate the culture of hairdressing. We advocate for stylists—and their clients—to find the point of view and style that best matches their own. All of our products are treatment-oriented, with the health of the hair and scalp always top-of-mind. We use unique ingredients and complexes to make sure that each product delivers true benefits. </p>
				</div>
				<div class="column">
				<p>And everything is formulated without parabens, sulfates (SLS or SLES), mineral oil and petrolatum. They are all vegetarian, cruelty-free, gluten-free and color-safe. R+Co is about an experience. The packaging and fragrances were designed to enhance that experience and evoke a feeling, place, style or attitude. You’ll know just by looking at a bottle or tube what a product is meant to do, and the subtle yet sophisticated fragrances—meant for both men and women—are as individual as the members of our collective. We work to reduce the amount of physical material used in our packaging by eliminating unnecessary components. A large majority of the retail packaging can be recycled; check with your local recycling center.</p>
				</div>
			</div>
		</div>
	</div>
	<img class="lower_image" src="../Static/Images/products_images.png">
</div>
<!--FOOTER BAR-->
<div class="footer">
<p>Please call to reserve your appointment!</p>
	<ul>
		<li>609 Market St.</li>
		<li><img src="../Static/Images/bullet.png" alt="bullet"></li>
		<li>Kirland, WA</li>
		<li><img src="../Static/Images/bullet.png" alt="bullet"></li>
		<li>425-629-3686</li>
	</ul>
</div>
</body>
</html>