<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="Winslow Salon" description="A boutique salon west of market street.">
	<title>Winslow Salon</title>
	<link rel="stylesheet" type="text/css" href="../Static/Stylesheets/scheduling_style.css">
	<link rel="stylesheet" type="text/css" href="../Static/Stylesheets/global_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<!--HEADER BAR-->
<div class="header">
	<div class="inner_container">
		<img id="header_image" src="../Static/Images/Logo.png" alt="logo">
		<h3>...a boutique salon west of market street.</h3>
	</div>
</div>
<!--INNER CONTENT-->
<div class="inner_container main_container">
	<!-- <img id="picture_header" src="../Static/Images/full_header.png" alt="pictures"> -->
	<div class="content">
		<div id="sidebar" class="hide_on_mobile">
			<a href="./services.html"><h3>Services</h3></a>
			<a href="./stylists.html"><h3>Stylists</h3></a>
			<a href="./scheduling.html"><h3 class="active">Scheduling</h3></a>
			<a href="./products.html"><h3>Products</h3></a>
			<a href="./policies.html"><h3>Policies</h3></a>
			<a href="http://www.facebook.com/pages/Winslow-Salon/110554585635590"><h3><i class="fa fa-facebook-official fa-2x"></i></h3></a>
			<a href="http://www.facebook.com/pages/Winslow-Salon/110554585635590"><h3><i class="fa fa-twitter fa-2x"></i></h3></a>
		</div>
		<div class="inner_content">
			<h1>Call us today!</h1>
			<h3>We believe in personalized scheduling for your salon services - simply call or visit us to book your Winslow Salon experience today - we look forward to hearing from you!</h3>
			<div class="address">
				<p>Winslow Salon</p>
				<p>609 Market Street</p>
				<p>Kirkland, WA 98033</p>
				<br>
				<p class="phone">425-629-3686</p>
				<table class="hours_table">
					<tr>
						<td>Monday</td>
						<td>10:00am - 6:00pm</td>
					</tr>
					<tr>
						<td>Tuesday</td>
						<td>10:00am - 7:00pm</td>
					</tr>
					<tr>
						<td>Wednesday</td>
						<td>10:00am - 8:00pm</td>
					</tr>
					<tr>
						<td>Thursday</td>
						<td>10:00am - 8:00pm</td>
					</tr>
					<tr>
						<td>Friday</td>
						<td>10:00am - 7:00pm</td>
					</tr>
					<tr>
						<td>Saturday</td>
						<td>9:00am - 5:00pm</td>
					</tr>
					<tr>
						<td>Sunday</td>
						<td>Closed</td>
					</tr>
				</table>
			</div>
			<p>Questions? Email us at info@thewinslowsalon.com</p>
		</div>
	</div>
	<img class="lower_image" src="../Static/Images/scheduling_image.png">
</div>
<!--FOOTER BAR-->
<div class="footer">
	<ul>
		<li>609 Market St.</li>
		<li><img src="../Static/Images/bullet.png" alt="bullet"></li>
		<li>Kirkland, WA</li>
		<li><img src="../Static/Images/bullet.png" alt="bullet"></li>
		<li>425-629-3686</li>
	</ul>
</div>
</body>
</html>