<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="Winslow Salon" description="A boutique salon west of market street.">
	<title>Winslow Salon</title>
	<link rel="stylesheet" type="text/css" href="../Static/Stylesheets/services_style.css">
	<link rel="stylesheet" type="text/css" href="../Static/Stylesheets/global_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<!--HEADER BAR-->
<div class="header">
	<div class="inner_container">
		<img id="header_image" src="../Static/Images/Logo.png" alt="logo">
		<h3>...a boutique salon west of market street.</h3>
	</div>
</div>
<!--INNER CONTENT-->
<div class="inner_container main_container">
	<!-- <img id="picture_header" src="../Static/Images/full_header.png" alt="pictures"> -->
	<div class="content">
		<div id="sidebar" class="hide_on_mobile">
			<a href="/views/services"><h3>Services</h3></a>
			<a href="/views/stylists"><h3>Stylists</h3></a>
			<a href="/views/scheduling"><h3>Scheduling</h3></a>
			<a href="/views/products"><h3>Products</h3></a>
			<a href="/views/policies"><h3>Policies</h3></a>
			<a href="http://www.facebook.com/pages/Winslow-Salon/110554585635590"><h3>Press & Fans</h3></a>
			<a href="http://www.facebook.com/pages/Winslow-Salon/110554585635590"><h3><i class="fa fa-facebook-official fa-2x"></i></h3></a>
			<a href="http://www.facebook.com/pages/Winslow-Salon/110554585635590"><h3><i class="fa fa-twitter fa-2x"></i></h3></a>
		</div>
		<div class="inner_content">
		<div class="column">
			<h1>Design</h1>
			<table class="price_table">
				<tr>
					<td>Women's Haircut</td>
					<td>$60+</td>
				</tr>
				<tr>
					<td>Men's Haircut</td>
					<td>$40+</td>
				</tr>
				<tr>
					<td>Child's Haircut</td>
					<td>$35+</td>
				</tr>
				<tr>
					<td>Bang / Neck Trim</td>
					<td> $15*</td>
				</tr>
				<tr>
					<td>Blowout</td>
					<td>$45+</td>
				</tr>
				<tr>
					<td>Up-style</td>
					<td>$60+</td>
				</tr>
				<tr>
					<td>Bridal Style</td>
					<td>$100+</td>
				</tr>
			</table>
			<h1>Color</h1>
			<table class="price_table">
				<tr>
					<td>All-over color</td>
					<td>$80+</td>
				</tr>
				<tr>
					<td>Men's all-over</td>
					<td>$50+</td>
				</tr>
				<tr>
					<td>Color retouch</td>
					<td>$70+</td>
				</tr>
				<tr>
					<td>Partial highlight</td>
					<td>$105+</td>
				</tr>
				<tr>
					<td>Full highlight</td>
					<td>$150+</td>
				</tr>
				<tr>
					<td>Partial Balayage</td>
					<td>$120+</td>
				</tr>
				<tr>
					<td>Full Balayage</td>
					<td>$150+</td>
				</tr>
				<tr>
					<td>Double process Blonde</td>
					<td>$100+</td>
				</tr>
				<tr>
					<td>Root Glaze</td>
					<td>$60+</td>
				</tr>
				<tr>
					<td>Root Glaze add-on</td>
					<td>$20+</td>
				</tr>
				<tr>
					<td>Toner</td>
					<td>$60+</td>
				</tr>
				<tr>
					<td>Toner add-on</td>
					<td>$20+</td>
				</tr>
				<tr>
					<td>Gloss</td>
					<td>$60+</td>
				</tr>
			</table>
		</div>
		<div class="column">
			<h1>Texture & Reconditioning</h1>
			<table class="price_table">
				<tr>
					<td>Brazilian Blowout</td>
					<td>$300+</td>
				</tr>
				<tr>
					<td>Keratin smoothing</td>
					<td>$300+</td>
				</tr>
				<tr>
					<td>Keratin smoothing EXPRESS</td>
					<td>$150+</td>
				</tr>
				<tr>
					<td>Permanent wave</td>
					<td>$100+</td>
				</tr>				
				<tr>
					<td>Deep Conditioning</td>
					<td>$50+</td>
				</tr>
				<tr>
					<td>Deep Conditioning add-on</td>
					<td>$20+</td>
				</tr>
				<tr>
					<td>Olaplex</td>
					<td>$70+</td>
				</tr>
				<tr>
					<td>Olaplex add-on</td>
					<td>$40+</td>
				</tr>
			</table>
			<h1>Lash Extensions</h1>
			<table>
				<tr>
					<td>Coming soon!</td>
				</tr>
			</table>
		</div>
		<div class="disclaimers">
			<p>*This service is always complimentary for existing clients</p>
			<p>PLEASE CALL FOR PRICING ON SELECT STYLISTS</p>
			<h3>Call to schedule your next Winslow Salon experience!</h3>
		</div>
		</div>
	</div>
	<img src="">
</div>
<!--FOOTER BAR-->
<div class="footer">
<p>Please call to reserve your appointment!</p>
	<ul>
		<li>609 Market St.</li>
		<li><img src="../Static/Images/bullet.png" alt="bullet"></li>
		<li>Kirland, WA</li>
		<li><img src="../Static/Images/bullet.png" alt="bullet"></li>
		<li>425-629-3686</li>
	</ul>
</div>
</body>
</html>