<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="Winslow Salon" description="A boutique salon west of market street.">
	<title>Winslow Salon</title>
	<link rel="stylesheet" type="text/css" href="../Static/Stylesheets/stylists_style.css">
	<link rel="stylesheet" type="text/css" href="../Static/Stylesheets/global_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<!--HEADER BAR-->
<div class="header">
	<div class="inner_container">
		<img id="header_image" src="../Static/Images/Logo.png" alt="logo">
		<h3>...a boutique salon west of market street.</h3>
	</div>
</div>
<!--INNER CONTENT-->
<div class="inner_container main_container">
	<!-- <img id="picture_header" src="../Static/Images/full_header.png" alt="pictures"> -->
	<div class="content">
		<div id="sidebar" class="hide_on_mobile">
			<a href="./services.html"><h3>Services</h3></a>
			<a href="./stylists.html"><h3 class="active">Stylists</h3></a>
			<a href="./scheduling.html"><h3>Scheduling</h3></a>
			<a href="./products.html"><h3>Products</h3></a>
			<a href="./policies.html"><h3>Policies</h3></a>
			<a href="http://www.facebook.com/pages/Winslow-Salon/110554585635590"><h3><i class="fa fa-facebook-official fa-2x"></i></h3></a>
			<a href="http://www.facebook.com/pages/Winslow-Salon/110554585635590"><h3><i class="fa fa-twitter fa-2x"></i></h3></a>
		</div>
		<div class="inner_content">
			<h3><a href="mailto:ashley@winslowsalon.com">Ashley Winslow Newbury -- Owner</a></h3>
			<table class="stylist_table">
				<tr>
					<td><a href="mailto:emillienne@winslowsalon.com">Emillienne</a></td>
					<td>Stylist</td>
				</tr>
				<tr>
					<td><a href="mailto:carrie@winslowsalon.com">Carrie</a></td>
					<td>Stylist</td>
				</tr>
				<tr>
					<td><a href="mailto:jackie@winslowsalon.com">Jackie</a></td>
					<td>Stylist</td>
				</tr>
				<tr>
					<td><a href="mailto:april@winslowsalon.com">April</a></td>
					<td>Stylist</td>
				</tr>
				<tr>
					<td><a href="mailto:lee@winslowsalon.com">Lee</a></td>
					<td>Stylist</td>
				</tr>
				<tr>
					<td><a href="mailto:kristina@winslowsalon.com">Kristina</a></td>
					<td>Stylist</td>
				</tr>
				<tr>
					<td><a href="mailto:jenny@winslowsalon.com">Jenny</a></td>
					<td>Stylist</td>
				</tr>
				<tr>
					<td><a href="mailto:holly@winslowsalon.com">Holly</a></td>
					<td>Stylist</td>
				</tr>
				<tr>
					<td><a href="mailto:meiling@winslowsalon.com">Meiling</a></td>
					<td>Stylist</td>
				</tr>
				<tr>
					<td><a href="mailto:helen@winslowsalon.com">Helen</a></td>
					<td>Stylist</td>
				</tr>																		
				<tr>
					<td><a href="mailto:kristin@winslowsalon.com">Kristin</a></td>
					<td>Stylist</td>
				</tr>
				<tr>
					<td><a href="mailto:lauren@winslowsalon.com">Lauren</a></td>
					<td>Stylist</td>
				</tr>
				<tr>
					<td><a href="mailto:cheraea@winslowsalon.com">Cheraea</a></td>
					<td>Stylist</td>
				</tr>
				<tr>
					<td><a href="mailto:rachelle@winslowsalon.com">Rachelle</a></td>
					<td>Stylist</td>
				</tr>	
			</table>
		</div>
	</div>
	<img class="lower_image" src="../Static/Images/stylists_header.png">
</div>
<!--FOOTER BAR-->
<div class="footer">
<p>Please call to reserve your appointment!</p>
	<ul>
		<li>609 Market St.</li>
		<li><img src="../Static/Images/bullet.png" alt="bullet"></li>
		<li>Kirland, WA</li>
		<li><img src="../Static/Images/bullet.png" alt="bullet"></li>
		<li>425-629-3686</li>
	</ul>
</div>
</body>
</html>