<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Winslow Salon</title>
	<link rel="stylesheet" type="text/css" href="../Static/Stylesheets/welcome_style.css">
	<link rel="stylesheet" type="text/css" href="../Static/Stylesheets/global_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		
	})
	</script>
</head>
<body>

	<div class="main_container">
		<img id="header" src="../Static/Images/header.png" alt="main_header">
	</div>




<div class="footer">
	<ul>
		<li>609 Market St.</li>
		<li><img src="../Static/Images/bullet.png" alt="bullet"></li>
		<li>Kirland, WA</li>
		<li><img src="../Static/Images/bullet.png" alt="bullet"></li>
		<li>425-629-3686</li>
	</ul>
</div>
</body>
</html>